<!-- <div class="col-lg-4 col-md-6 col-sm-12 pb-1"> -->
    <div class="card product-item border-0 mb-4">
        <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0" style="align-self: center;">
            <img class="img-fluid " src="{{ l_product.product_image1.url }}" alt="" style="height: 20rem;">
        </div>
        <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
            <h6 class="text-truncate mb-3">
                {{l_product.product_name}}
                {% if not l_product.discount == 0 %}
                <small class="text-danger">-{{l_product.discount}}%</small>
                {% endif %}
            </h6>
            <div class="d-flex justify-content-center">
                {% if not l_product.discount == 0 %}
                <h6 class="text-muted ml-2"><del>${{l_product.product_price}}</del></h6>
                {% endif %}

                <h6 class="ml-2">${{l_product.get_discount_price}}</h6>
            </div>
        </div>
        <div class="card-footer d-flex justify-content-between bg-light border">
            <a href="{% url 'product_details' l_product.product_id %}" class="btn btn-sm text-dark p-0 mx-auto"><i class="fas fa-eye text-primary mr-1"></i>View Detail</a>
        </div>
    </div>
<!-- </div> -->