{% if reviews %}
    {% for review in reviews %}
        <!-- <h2>@review.user.username</h2> -->
        <div class="media-body mb-4 p-3" style="background-color: #EDF1FF;">
            <h6>{{ review.user.fullname|title }}<small> - <i>{{ review.created_on }}</i></small></h6>
            <!-- <div class="text-primary mb-2">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
                <i class="far fa-star"></i>
            </div> -->
            <div class="text-primary">
                <i class="far fa-star {% if review.rating > 0 %} fas {% endif %} "></i>
                <i class="far fa-star {% if review.rating > 1 %} fas {% endif %} "></i>
                <i class="far fa-star {% if review.rating > 2 %} fas {% endif %} "></i>
                <i class="far fa-star {% if review.rating > 3 %} fas {% endif %} "></i>
                <i class="far fa-star {% if review.rating > 4 %} fas {% endif %} "></i>
            </div>
            <p>{{ review.user_review }}</p>
        </div>
    {% endfor %}
{% else %}
    <p class="text-dark">There have been no reviews for this product.</p>
{% endif %}