{% extends 'base.html' %}
{% load static %}
{% block title %}Vendor Login{% endblock title %}

{% block content %}
    <div class="content text-dark p-5 mx-auto">
        <form action="" class="mb-4">
            {% csrf_token %}
            {{ form.as_p }}

            <button class="px-5 py-2" style="background-color: #C5837C;">
                Login
            </button>
        </form>
        <p class="mx-auto">
            <a href="{% url 'vendor reg' %}" class="text-dark">
                Don't have an account? <span style="color: blue;">Register</span>
            </a>
        </p>
    </div>
{% endblock content %}