{% extends 'base.html' %}
{% load static %}
{% block title %}Vendor Registration{% endblock title %}

{% block content %}
    <div class="content text-dark p-5">
        <form class="mb-4" method="POST">
            {% csrf_token %}
            {{ form.as_p }}

            {% for field in form %}
                {% for error in field.errors %}
                    <div style="color: rgb(175, 23, 23);">
                        {{error}}
                    </div>
                {% endfor %}
            {% endfor %}
    
            {% if form.non_field_errors %}
                    <div style="color: rgb(175, 23, 23);">
                        {{form.non_field_errors}}
                    </div>
            {% endif %}

            <button class="px-5 py-2" style="background-color: #C5837C;">
                Submit
            </button>
        </form>
        <p>
            <a href="{% url 'vendor login' %}" class="text-dark">
                Already have an account? <span style="color: blue;">Login</span>
            </a>
        </p>
    </div>
{% endblock content %}