anyio
apache-beam
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
astunparse
async-lru
attrs
avro-python3
Babel
beautifulsoup4
bleach
build
cachetools
certifi
cffi
charset-normalizer
click
cloudpickle
colorama
comm
contextlib2
contourpy
aiosmtplib
asgiref
backcall
boto3
botocore

Collectfast
coverage
debugpy
decorator
defusedxml
distlib
dj-database-url
Django==4.0.2
django-countries
django-crispy-forms
django-extensions
django-phone-field
django-phonenumber-field
django-rest-paystack
django-shell-plus
django-storages
djangorestframework
entrypoints
environ
et-xmlfile
ez-setup
Faker
filelock
future
gunicorn
h11
httpcore
httpx
idna
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
jmespath
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyterlab-pygments
jupyterlab-widgets
MarkupSafe
matplotlib-inline
messages
mistune
nbclient
nbconvert
nbformat
nest-asyncio
nose
nose2
notebook
openpyxl
packaging
pandocfilters
Paperboy
parso
paystack
phonenumbers
pickleshare
Pillow
pip
platformdirs
prometheus-client
protobuf==4.21.1
prompt-toolkit
psycopg2-binary
pycparser
Pygments
pyparsing
-e git+https://github.com/gbozee/pypaystack.git@24df1c9ca209031e0ec940ff8552d45ca6b55421#egg=pypaystack
# pypiwin32
pyrsistent
python-dateutil
python-dotenv
pytz
# pywin32
# pywinpty
pyzmq
qtconsole
QtPy
requests
rfc3986
s3transfer
Send2Trash
setuptools
simplejson
six
sniffio
sqlparse
terminado
testpath
tornado
traitlets
typing_extensions
tzdata
uncertainties
urllib3
validus
virtualenv
wcwidth
webencodings
widgetsnbextension
wincertstore
