{% extends 'base.html' %}
{% block title %}Dashboard{% endblock title %}
{% block content %}
<div class="m-5">
    <style>
        .table {
            margin-bottom: 180px;
            border-collapse: separate;
            border-spacing: 0 15px;
        }
    </style>
    <table class="table">
        <h3>Completed Orders</h3>
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Color</th>
            <th scope="col">Size</th>
            <th scope="col">Date Added</th>
            <th scope="col">Date Ordered</th>
          </tr>
        </thead>
        <tbody>
            {% for completed_orders in completed_orders %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ completed_orders.product.product_name|title }}</td>
                <td>${{ completed_orders.product.product_price }}</td>
                <td>{{ completed_orders.quantity }}</td>
                <td>{{ completed_orders.color|title }}</td>
                <td>{{ completed_orders.size|upper }}</td>
                <td>{{ completed_orders.date_added }}</td>
                <td>{{ completed_orders.order.date_ordered }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <table class="table">
        <h3>Uncompleted Order</h3>
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Color</th>
            <th scope="col">Size</th>
            <th scope="col">Date Added</th>
          </tr>
        </thead>
        <tbody>
            {% for uncompleted_orders in uncompleted_orders %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ uncompleted_orders.product.product_name|title }}</td>
                <td>${{ uncompleted_orders.product.product_price }}</td>
                <td>{{ uncompleted_orders.quantity }}</td>
                <td>{{ uncompleted_orders.color|title }}</td>
                <td>{{ uncompleted_orders.size|upper }}</td>
                <td>{{ uncompleted_orders.date_added }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}