{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}

{% block content %}
    <!-- Categories Start -->
    <div class="container-fluid pt-5">
        <div class="text-center mb-4">
            <h2 class="section-title px-5"><span class="px-2">Popular Products</span></h2>
        </div>
        <div class="row px-xl-5 pb-3">
            {% for product in products %}
            {% if product.number_available != 0 %}
            <a href="{% url 'product_details' product.product_id %}">
                <div class="col-lg-4 col-md-6 pb-1">
                    <div class="cat-item d-flex flex-column border mb-4" style="padding: 30px;background-color: #f7f3f3;">
                        <p class="text-right text-dark">{{ product.number_available }} Products</p>
                        <!-- <a href="" class="cat-img position-relative overflow-hidden mb-3"> -->
                            <img class="img-fluid" src="{{ product.product_image1.url }}" alt="Men's Category" style="width: 20rem;height: 21rem;">
                        <!-- </a> -->
                        <div style="display: flex;" class="mb-3">
                            <span class="text-dark">{{product.product_name}}</span>
                            <span style="margin-left: auto;" class="text-dark">${{product.get_discount_price}}</span>
                        </div>
                        <div>
                            <span class="font-weight-semi-bold m-0 text-dark">
                                {% if 'M' in product.product_categories and product.product_categories|length == 5 %}
                                    <p>Men's Wears</p>
                                {% elif 'W' in product.product_categories %}
                                    <p>Women's Wears</p>
                                {% elif 'MC' in product.product_categories %}
                                    <p>Male Children's Wears</p>
                                {% elif product.product_categories == 'female children' %}
                                    <p>Female Children's Wears</p>
                                {% endif %}
                            </span>
                            <a href="{% url 'product_details' product.product_id %}" class="btn btn-sm text-dark p-0 mx-auto">
                            <i class="fas fa-eye text-primary mr-1"></i>
                            View Detail
                        </a>
                        </div>
                    </a>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
            {% include '../snippets/products_pagination_snippet.html' with p_products=products%}
        </div>
    </div>
    <!-- Categories End -->

    {% if request.GET.query != '' %}
        {% if results %}
        <div class="row px-xl-5 pb-3">
        {% for product in results %}
        <div class="col-lg-4 col-md-6 col-sm-12 pb-1">
            {% include '../snippets/product_card.html' with l_product=product %}
        </div>
        {% endfor %}
        {% include '../snippets/products_pagination_snippet.html' with p_products=results%}
        </div>
        {% endif %}
    {% endif %}
    <!-- Offer Start -->
    {% if not request.GET.query %}
        <div class="container-fluid offer pt-5">
            <div class="row px-xl-5">
                <div class="col-md-6 pb-4">
                    <div class="position-relative bg-secondary text-center text-md-right text-white mb-2 py-5 px-5">
                        <img src="{% static 'img/offer-1.png' %}" alt="">
                        <div class="position-relative" style="z-index: 1;">
                            <h5 class="text-uppercase text-primary mb-3">20% off the all order</h5>
                            <h1 class="mb-4 font-weight-semi-bold">Spring Collection</h1>
                            <a href="" class="btn btn-outline-primary py-md-2 px-md-3">Shop Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 pb-4">
                    <div class="position-relative bg-secondary text-center text-md-left text-white mb-2 py-5 px-5">
                        <img src="{% static 'img/offer-2.png' %}" alt="">
                        <div class="position-relative" style="z-index: 1;">
                            <h5 class="text-uppercase text-primary mb-3">20% off the all order</h5>
                            <h1 class="mb-4 font-weight-semi-bold">Winter Collection</h1>
                            <a href="" class="btn btn-outline-primary py-md-2 px-md-3">Shop Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- Offer End -->

    <!-- Products Start -->
    <div class="container-fluid pt-5">
        <div class="text-center mb-4">
            <h2 class="section-title px-5"><span class="px-2">Just Arrived</span></h2>
        </div>
        <div class="row px-xl-5 pb-3">
            {% for l_product in latest_products %}
                {% if l_product.number_available != 0 %}
                <div class="col-lg-4 col-md-6 col-sm-12 pb-1">
                    {% include '../snippets/product_card.html' %}
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    {% endif %}
    <!-- Products End -->

    <!-- Vendor Start -->
    <div class="container-fluid py-5 d-none">
        <div class="row px-xl-5">
            <div class="col">
                <div class="owl-carousel vendor-carousel">
                    <div class="vendor-item border p-4">
                        <img src="static/img/vendor-1.jpg" alt="">
                    </div>
                    <div class="vendor-item border p-4">
                        <img src="static/img/vendor-2.jpg" alt="">
                    </div>
                    <div class="vendor-item border p-4">
                        <img src="static/img/vendor-3.jpg" alt="">
                    </div>
                    <div class="vendor-item border p-4">
                        <img src="static/img/vendor-4.jpg" alt="">
                    </div>
                    <div class="vendor-item border p-4">
                        <img src="static/img/vendor-5.jpg" alt="">
                    </div>
                    <div class="vendor-item border p-4">
                        <img src="static/img/vendor-6.jpg" alt="">
                    </div>
                    <div class="vendor-item border p-4">
                        <img src="static/img/vendor-7.jpg" alt="">
                    </div>
                    <div class="vendor-item border p-4">
                        <img src="static/img/vendor-8.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Pagination -->
{% endblock content %}