{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}

{% block content %}
    <!-- Categories Start -->
    <div class="container-fluid pt-5">
        <div class="text-center mb-4">
            <h2 class="section-title px-5"><span class="px-2">Popular Products</span></h2>
        </div>
        <div class="row px-xl-5 pb-3">
            {% for product in products %}
            {% if product.number_available != 0 %}
            <div class="col-lg-4 col-md-6 col-sm-12 pb-1">
                {% include '../snippets/product_card.html' with l_product=product %}
            </div>
            {% endif %}
            {% endfor %}
            {% include '../snippets/products_pagination_snippet.html' with p_products=products%}
        </div>
    </div>
    <!-- Categories End -->

    {% if request.GET.query != '' %}
        {% if results %}
        <div class="row px-xl-5 pb-3">
        {% for product in results %}
        <div class="col-lg-4 col-md-6 col-sm-12 pb-1">
            {% include '../snippets/product_card.html' with l_product=product %}
        </div>
        {% endfor %}
        {% include '../snippets/products_pagination_snippet.html' with p_products=results%}
        </div>
        {% endif %}
    {% endif %}
    <!-- Offer Start -->
    {% if not request.GET.query %}
        <div class="container-fluid offer pt-5">
            <div class="row px-xl-5">
                <div class="col-md-6 pb-4">
                    <div class="position-relative bg-secondary text-center text-md-right text-white mb-2 py-5 px-5">
                        <img src="{% static 'img/offer-1.png' %}" alt="">
                        <div class="position-relative" style="z-index: 1;">
                            <h5 class="text-uppercase text-primary mb-3">20% off the all order</h5>
                            <h1 class="mb-4 font-weight-semi-bold">Spring Collection</h1>
                            <a href="" class="btn btn-outline-primary py-md-2 px-md-3">Shop Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 pb-4">
                    <div class="position-relative bg-secondary text-center text-md-left text-white mb-2 py-5 px-5">
                        <img src="{% static 'img/offer-2.png' %}" alt="">
                        <div class="position-relative" style="z-index: 1;">
                            <h5 class="text-uppercase text-primary mb-3">20% off the all order</h5>
                            <h1 class="mb-4 font-weight-semi-bold">Winter Collection</h1>
                            <a href="" class="btn btn-outline-primary py-md-2 px-md-3">Shop Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- Offer End -->

    <!-- Products Start -->
    <div class="container-fluid pt-5">
        <div class="text-center mb-4">
            <h2 class="section-title px-5"><span class="px-2">Just Arrived</span></h2>
        </div>
        <div class="row px-xl-5 pb-3">
            {% for l_product in latest_products %}
                
                <div class="col-lg-4 col-md-6 col-sm-12 pb-1">
                    {% include '../snippets/product_card.html' %}
                </div>
                
            {% endfor %}
        </div>
    </div>
    {% endif %}
    <!-- Products End -->

    <!-- Vendor Start -->
    <div class="container-fluid py-5 d-none">
        <div class="row px-xl-5">
            <div class="col">
                <div class="owl-carousel vendor-carousel">
                    <div class="vendor-item border p-4">
                        <img src="static/img/vendor-1.jpg" alt="">
                    </div>
                    <div class="vendor-item border p-4">
                        <img src="static/img/vendor-2.jpg" alt="">
                    </div>
                    <div class="vendor-item border p-4">
                        <img src="static/img/vendor-3.jpg" alt="">
                    </div>
                    <div class="vendor-item border p-4">
                        <img src="static/img/vendor-4.jpg" alt="">
                    </div>
                    <div class="vendor-item border p-4">
                        <img src="static/img/vendor-5.jpg" alt="">
                    </div>
                    <div class="vendor-item border p-4">
                        <img src="static/img/vendor-6.jpg" alt="">
                    </div>
                    <div class="vendor-item border p-4">
                        <img src="static/img/vendor-7.jpg" alt="">
                    </div>
                    <div class="vendor-item border p-4">
                        <img src="static/img/vendor-8.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Pagination -->
{% endblock content %}