{% extends 'base.html' %}
{% load countries %}
{% block title %}Shipping/Billing Address{% endblock title %}
{% block content %}
<div class="m-5">
    <style>
        .table {
            margin-bottom: 180px;
            border-collapse: separate;
            border-spacing: 0 15px;
        }
    </style>
    <table class="table">
        <h3>Ordered Product Details</h3>
        <thead>
          <tr>
            <th scope="col">Fullname</th>
            <th scope="col">Username</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Email</th>
            <th scope="col">Address</th>
            <th scope="col">Country</th>
            <th scope="col">State</th>
            <th scope="col">City</th>
            <th scope="col">Zipcode</th>
          </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ billing_address.fullname }}</td>
                <td>{{ billing_address.customer.username }}</td>
                <td>{{ billing_address.phone_num1 }}</td>
                <td>{{ billing_address.email }}</td>
                <td>{{ billing_address.address }}</td>
                <td>{{ billing_address.country.name }}</td>
                <td>{{ billing_address.state|title }}</td>
                <td>{{ billing_address.city|upper }}</td>
                <td>{{ billing_address.zipcode }}</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock content %}