{% extends 'base.html' %}
{% load static %}
{% block title %}Shop{% endblock title %}

{% block content %}

    <div class="container-fluid bg-secondary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 200px">
            <h1 class="font-weight-semi-bold text-uppercase mb-3">Shop</h1>
            <div class="d-inline-flex">
                <p class="m-0"><a href="{% url 'home' %}">Home</a></p>
                <p class="m-0 px-2">-</p>
                <p class="m-0">Shop</p>
            </div>
        </div>
    </div>
    <!-- Shop Start -->
    <div class="container-fluid pt-5">
        <div class="men mb-2">
            <div class="text-center mb-4">
                <h2 class="section-title px-5"><span class="px-2">Men's Category</span></h2>
            </div>
            <div class="row px-xl-5 pb-3">
                {% for l_product in m %}
                    
                    <div class="col-lg-4 col-md-6 col-sm-12 pb-1">
                        {% include '../snippets/product_card.html' %}
                    </div>
                    
                {% endfor %}
            </div>
            <div class="mx-auto text-center">
                <a href="{% url 'men_category' %}" class="bg-primary p-2 text-light text-decoration-none">View All</a>
            </div>
        </div>

        <div class="women mb-2">
            <div class="text-center mb-4">
                <h2 class="section-title px-5"><span class="px-2">Women's Category</span></h2>
            </div>
            <div class="row px-xl-5 pb-3">
                {% for l_product in w %}
                    
                    <div class="col-lg-4 col-md-6 col-sm-12 pb-1">
                        {% include '../snippets/product_card.html' %}
                    </div>
                    
                {% endfor %}
            </div>
            <div class="mx-auto text-center">
                <a href="{% url 'women_category' %}" class="bg-primary p-2 text-light text-decoration-none">View All</a>
            </div>
        </div>

        <div class="m-c mb-2">
            <div class="text-center mb-4">
                <h2 class="section-title px-5"><span class="px-2">Male Children's Category</span></h2>
            </div>
            <div class="row px-xl-5 pb-3">
                {% for l_product in m_c %}
                    
                    <div class="col-lg-4 col-md-6 col-sm-12 pb-1">
                        {% include '../snippets/product_card.html' %}
                    </div>
                    
                {% endfor %}
            </div>
            <div class="mx-auto text-center">
                <a href="{% url 'male_children_category' %}" class="bg-primary p-2 text-light text-decoration-none">View All</a>
            </div>
        </div>

        <div class="f-c mb-2">
            <div class="text-center mb-4">
                <h2 class="section-title px-5"><span class="px-2">Female Children's Category</span></h2>
            </div>
            <div class="row px-xl-5 pb-3">
                {% for l_product in f_c %}
                    
                    <div class="col-lg-4 col-md-6 col-sm-12 pb-1">
                        {% include '../snippets/product_card.html' %}
                    </div>
                    
                {% endfor %}
            </div>
            <div class="mx-auto text-center">
                <a href="{% url 'female_children_category' %}" class="bg-primary p-2 text-light text-decoration-none">View All</a>
            </div>
        </div>
    </div>


{% endblock content %}