{% extends 'base.html' %}
{% load static %}
{% block title %}Vendor Login{% endblock title %}

{% block content %}
<style>
    .form-group{
        margin: .3rem;
    }
</style>
    <div class="errors mb-2" style="margin-left: 2rem;">
        {% for field in form %}
            {% for error in field.errors %}
                <p style="color: rgb(175, 23, 23);">
                    {{error}}
                </p>
            {% endfor %}
        {% endfor %}

        {% if form.non_field_errors %}
            <div style="color: rgb(175, 23, 23);">
                {{form.non_field_errors}}
            </div>
        {% endif %}
    </div>
    <div class="content text-dark p-3 mx-auto">
        <h1 style="text-align: center;">Login</h1>
            <form action="" class="mb-4" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="email">Email: </label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email" required>
            </div>
            <div class="form-group">
                <label for="password">Password: </label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password" required>
            </div>

            <button class="px-5 py-2 text-light font-weight-semi-bold" style="background-color: #C5837C;margin-left: .3rem;">
                Login
            </button>
        </form>
        <p class="" style="margin-left: .3rem;">
            {% if request.user.type == "CUSTOMER" %}
                <a href="{% url 'user:c_reg' %}" class="text-dark">
                    Don't have an account? <span style="color: blue;">Register</span>
                </a>
            {% elif request.user.type == "VENDOR"%}
                <a href="{% url 'user:v_reg' %}" class="text-dark">
                    Don't have an account? <span style="color: blue;">Register</span>
                </a>
            {% endif %}
            
            <a href="{% url 'password_reset' %}" class="d-block mt-2" style="color: blue;">
                Forgot Password?
            </a>
        </p>
    </div>
{% endblock content %}