{% extends 'base.html' %}
{% block title %}Must be Authenticated{% endblock title %}
{% block content %}
    <div class="container">
        <div class="d-flex flex-column">
            <p class="mx-auto text-dark">Must be authenticated to view this page</p>
            <p class="mx-auto">
                <a href="{% url 'user:c_reg' %}" style="color: blue;">Customer Reg</a> / <a href="{% url 'user:v_reg' %}" style="color: blue;">Vendor Reg/</a> or
                <a href="{% url 'user:login' %}" style="color: blue;">Login</a>
            </p>
        </div>
    </div>


{% endblock content %}