{% extends 'base.html' %}
{% block title %}Password Reset Form{% endblock title %}

{% block content %}
    <style>
        .passwords{
            border: 3px solid #EDF1FF;
            height: 3rem;
        }
    </style>
    {% csrf_token %}
    <h3 style="text-align: center;">Reset Password</h3>
    <div class="mt-2">
        <input type="password" name="new_password1" id="new_password1" class="form-control passwords" placeholder="Password" required="true">
        <input type="password" name="new_password2" id="new_password2" class="form-control passwords mt-2" placeholder="Repeat password" required="true">
    </div>
{% endblock content %}